.field {
	&--widget-inline-entity-form-complex-table-view-mode {
		.ief-form-bottom {
			border: none;
			padding: 0;
			margin: 0;

			legend {
				display: none;
			}
		}
		input[data-drupal-selector$="ief-reference-save"],
		input[data-drupal-selector$="ief-reference-cancel"] {
			display: none;
		}
	}
}