.field--widget-inline-entity-form-complex-table-view-mode .ief-form-bottom {
  border: none;
  padding: 0;
  margin: 0;
}
.field--widget-inline-entity-form-complex-table-view-mode .ief-form-bottom legend {
  display: none;
}
.field--widget-inline-entity-form-complex-table-view-mode input[data-drupal-selector$="ief-reference-save"],
.field--widget-inline-entity-form-complex-table-view-mode input[data-drupal-selector$="ief-reference-cancel"] {
  display: none;
}
