.banner {
	position: relative;
	padding: 60px 0;

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background-size: cover;
		background-position: center center;

		&-item {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity 1s ease;
			background-size: cover;
			background-position: center center;
			opacity: 0;

			&--loading {
				opacity: 0.05;
				transition: opacity .3s ease;
			}
			&--active {
				opacity: 1;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	&__content {
		position: relative;
		z-index: 3;
	}
	&__tagline {
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__links {
		.field--item {
			display: inline-block;
			margin-right: 10px;
		}
	}
}