.banner {
  position: relative;
  padding: 60px 0;
}
.banner__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}
.banner__background-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  background-size: cover;
  background-position: center center;
  opacity: 0;
}
.banner__background-item--loading {
  opacity: 0.05;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.banner__background-item--active {
  opacity: 1;
}
.banner__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.banner__content {
  position: relative;
  z-index: 3;
}
.banner__tagline {
  font-size: 20px;
  margin-bottom: 20px;
}
.banner__links .field--item {
  display: inline-block;
  margin-right: 10px;
}
