{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'banner',
    paragraph.field_banner_media.getValue()|length == 0 ?  'banner--no-image' ,
    paragraph.field_banner_media.getValue()|length == 1 ?  'banner--single-image' ,
    paragraph.field_banner_media.getValue()|length > 1 ? 'banner--multiple-images',
    'banner--id-' ~ paragraph.id()
  ]
%}
{{ attach_library('vb_banner/banner') }}
<div{{ attributes.addClass(classes) }}>
  {{ content.contextual_links }}
  {% if paragraph.field_banner_media.getValue() %}
    <div class="banner__background" >
      {% for image in paragraph.field_banner_media %}
        <div class="banner__background-item banner__background-item--loading" data-bg="{{ image.entity.field_media_image.entity.uri.value|image_style('banner') }}" data-bg-tablet="{{ image.entity.field_media_image.entity.uri.value|image_style('banner_tablet') }}" data-bg-mobile="{{ image.entity.field_media_image.entity.uri.value|image_style('banner_mobile') }}">
          <img src="data:image/svg+xml,{{ "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 640'><rect width='100%' height='100%'/></svg>"|url_encode(true) }}" alt="{{ image.entity.field_media_image.alt }}">
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="banner__content">
    <div class="container">
      {% if paragraph.field_banner_title.value %}
        <div class="banner__title">
          <h1>{{ content.field_banner_title.0 }}</h1>
        </div>
      {% endif %}

      {% if paragraph.field_banner_tagline.value %}
        <div class="banner__tagline">
          {{ content.field_banner_tagline }}
        </div>
      {% endif %}

      {% if paragraph.field_banner_links.value %}
        <div class="banner__links">
          {{ content.field_banner_links }}
        </div>
      {% endif %}    
    </div>
  </div>
</div>